
   .topnav {
  background-color: #333;
  overflow: hidden;
  text-align: center;
  height: 50px;
  display: flex;
  align-items: center;  /* Text aur icon center */
}  
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
 
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.container {
    background-color: white;
    height: 600px;
}

spam{
    color: black;
    font-size: 40px;
    gap: 0;
    font-family: fantasy;
}

button {
    background-color: blue;
    color: white;
    border-radius: 100px;
    font-size: 20px;
}

p {
    font-size: 30px;

}

.parent {
    background-color: black;
    height: 400px;
}

h1 {
    color: white;
    font-size: 60px;
}


h3 {
    color: white;
    font-size: 30px;
}

button {
   background-color: blue;
    color: white;
    border-radius: 100px;
    font-size: 20px;
  }
    
  Button {
   background-color: blue;
    color: white;
    border-radius: 100px;
    font-size: 20px;
     
    }
  
    .main {
        background-color: white;
        height: 500px;
        margin: 10px;
        padding: 0;
    }
    span {
        color: black;
        font-size: 90px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        margin: 50px;
        padding: 50px;
    }
    .div{
        background-color: white;
    }
    .box1 {
        height: 500px;
        border: 1px solid black;
        width: 600px;
        float: left;
        color: black;
        background-color: whitesmoke;
        margin: 10px;
       padding: 10px;
       
    }
    
    .box2{
        height: 500px;
       width: 600px;
       float: right;
       color: black;
       border: 1px solid black;
       margin: 10px;
       padding: 10px;
       background-color: whitesmoke;
    
    }
    
    .box3{
        height: 500px;
       width: 600px;
       float: left;
       color: black;
       border: 1px solid black;
       margin: 10px;
       padding: 10px;
       background-color: lightblue;
    
    }
    
    .box4{
        height: 500px;
       width: 600px;
       float: right;
       color: black;
       border: 1px solid black;
       margin: 10px;
       padding: 10px;
       background-color: whitesmoke;
    }

    .box5{
        height: 550px;
       width: 600px;
       color: black;
       border: 1px solid black;
       margin: 10px;
       padding: 10px;
       float: left;
       background-color: whitesmoke;
    }
      
    .box6{
        height: 550px;
       width: 600px;
       color: black;
       border: 1px solid black;
       margin: 10px;
       padding: 10px;
       float: right;
       background-color: whitesmoke;
    }   
    h1 {
        color: white;
        font-size: 30px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    
    p {
        color: black;
        font-size: 25px;
    }
        
    .div {
        
        float: left;
    }
         
        
    b{
        font-size: 40px;
        font-weight: bold;
        margin-top: 50px;
    }
    
    .box7{
        height: 450px;
       width: 1300px;
       color: black;
       border: 1px solid black;
       background-color: white;
     margin: 10px;
      
       float: left;
    }
    .figure1{
        float: left;
    }
    .figure2{
        float: left;
    }
    .figure3{
        float: right;
    }
    .figure4{
        float: left;
    }
    .figure5{
        float: left;
    }
    .figure6{
        float: left;
    }
    .figure7{
        float: left;
    }
    body{
        background-color: whitesmoke;
    }
    
       
    
    

      



    


